<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">


<div class="jumbotron">
  <h1 class="display-3">Meet up with Codaisseurup!!</h1>

    <%= link_to "Sing up", new_user_registration_path, class: "btn btn-info" %>
  </p>
</div>
