<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

<style>
.label a, .badge a {

color: white;
font-size:25px;

}


</style>
<div class="jumbotron">
  <h1 class="display-3">Meet up with Codaisseurup!!</h1>

    <%= link_to "Sing up", new_user_registration_path, class: "btn btn-info" %>

  <div style="height: 40px;"> </div>

    <div class="row">
    <h4 style="margin-left: 0; margin-top: 0px;">Categories:</h4>
  </div>
     <div class="col-md-6" style = "margin-top: 15px; margin-left: 0;">
      <% @categories.each do |category| %>
      <span class="label label-info" style=" margin-right: 8px; padding: 15px;">
        <%=link_to category.name, category_path(category) %></span>
    <% end %>
    </div>

</div>





<div style="height: 50px;"> </div>
